* {
	box-sizing: border-box;
	position: relative
}

#nprogress {
	pointer-events: none
}

#nprogress .bar {
	background: var(--parcel-primary, #198cff);
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px
}

#nprogress .peg {
	display: block;
	position: absolute;
	right: 0;
	width: 100px;
	height: 100%;
	opacity: 1;
	transform: rotate(3deg) translateY(-4px)
}

#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px
}

#nprogress .spinner-icon {
	display: none;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border-color: #29d transparent transparent #29d;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
	animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
	overflow: hidden;
	position: relative
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
	position: absolute
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg)
	}

	to {
		transform: rotate(1turn)
	}
}

.react-monaco-editor-container * {
	position: static
}

.monaco-aria-container {
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	top: 0
}



/* prueba */
.menu-container {
    position: relative;
    display: none; /* Por defecto, el contenedor del menú está oculto */
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    padding: 0;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.navigation___StyledDiv4-u4io24-4 {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
}

/* Estilos responsive */
@media (max-width: 600px) {
    .menu-container {
        display: inline-block; /* Muestra el menú solo en dispositivos móviles */
    }
    
    .dropdown-menu {
        width: 100%;
        left: 0;
        transform: none;
    }
}

/* prueba */
