@font-face {
	font-family: Linear;
	font-weight: 400 800;
	font-display: block;
	src: url(../fonts/inter-var-subset-latin-opsz-sep27.woff2) format("woff2")
}

*,
:after,
:before {
	box-sizing: border-box
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.reset-a {
	text-decoration: none;
	cursor: pointer
}

.reset-a,
.reset-button {
	color: inherit;
	outline: none
}

.reset-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	-webkit-tap-highlight-color: transparent
}

.reset-heading {
	margin: 0
}

.reset-li,
.reset-ol,
.reset-ul {
	margin: 0;
	padding: 0
}

.reset-li {
	list-style: none
}

#nprogress {
	pointer-events: none;
	--nprogress-height: 2px
}

#nprogress .bar {
	z-index: 1000;
	background: var(--color-brand-bg)
}

#nprogress .bar,
#nprogress:after {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--nprogress-height)
}

#nprogress:after {
	content: "";
	z-index: 500;
	background: var(--color-border-primary)
}

:root {
    --page-padding-default: 15px;
}

:root {
	--header-height: 48px;
	--page-padding-default: 32px;
	--page-max-width: 1200px;
	--page-padding-left: max(env(safe-area-inset-left), var(--page-padding-default));
	--page-padding-right: max(env(safe-area-inset-right), var(--page-padding-default));
	--page-padding-y: 120px;
	--prose-max-width: 588px;
	--grid-columns: 12;
	--grid-column-gap: 24px;
	--layer-debug: 5100;
	--layer-skip-nav: 5000;
	--layer-tooltip: 1100;
	--layer-toasts: 800;
	--layer-dialog: 700;
	--layer-dialog-overlay: 699;
	--layer-command-menu: 650;
	--layer-popover: 600;
	--layer-context-menu: 600;
	--layer-overlay: 500;
	--layer-header: 100;
	--layer-scrollbar: 75;
	--layer-footer: 50;
	--font-monospace: ui-monospace, "SF Mono", "Menlo", monospace;
	--font-regular: "Linear", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
	--font-weight-regular: 400;
	--font-weight-medium: 510;
	--font-weight-semibold: 590;
	--font-weight-bold: 680;
	--speed-highlightFadeIn: 0s;
	--speed-highlightFadeOut: 0.15s;
	--speed-quickTransition: 0.1s;
	--speed-regularTransition: 0.25s;
	--mask-visible: #000;
	--mask-ease: rgba(0, 0, 0, .2);
	--mask-invisible: transparent;
	--rounded-full: 9999px;
	--transparent: hsla(0, 0%, 100%, 0);
	--min-tap-size: 44px;
	--dvh: 1vh;
	--scrollbar-color: hsla(0, 0%, 100%, .2);
	--scrollbar-color-active: hsla(0, 0%, 100%, .4);
	--ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
	--ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
	--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
	--ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	--mauve-light-1: #fdfcfd;
	--mauve-light-2: #f9f8f9;
	--mauve-light-3: #f4f2f4;
	--mauve-light-4: #eeedef;
	--mauve-light-5: #e9e8ea;
	--mauve-light-6: #e4e2e4;
	--mauve-light-7: #dcdbdd;
	--mauve-light-8: #c8c7cb;
	--mauve-light-9: #908e96;
	--mauve-light-10: #86848d;
	--mauve-light-11: #6f6e77;
	--mauve-light-12: #1a1523;
	--mauve-dark-1: #161618;
	--mauve-dark-2: #1c1c1f;
	--mauve-dark-3: #232326;
	--mauve-dark-4: #28282c;
	--mauve-dark-5: #2e2e32;
	--mauve-dark-6: #34343a;
	--mauve-dark-7: #3e3e44;
	--mauve-dark-8: #504f57;
	--mauve-dark-9: #706f78;
	--mauve-dark-10: #7e7d86;
	--mauve-dark-11: #a09fa6;
	--mauve-dark-12: #ededef;
	--color-white: #fff;
	--color-black: #000;
	--color-blue: #4ea7fc;
	--color-red: #eb5757;
	--color-green: #4cb782;
	--color-orange: #f2994a
}


@supports (height:1dvh) {
	:root {
		--dvh: 1dvh
	}
}

@media (max-width:700px) {
	:root {
		--page-padding-y: 48px
	}
}

@media (max-width:600px) {
	:root {
		--page-padding-default: 24px
	}
}

@media (max-width:768px) {
	:root {
		--grid-columns: 8
	}
}

@media (max-width:640px) {
	:root {
		--grid-columns: 4;
		--grid-column-gap: 16px
	}
}

[data-theme=dark] {
	color-scheme: dark;
	--color-bg-primary: var(--mauve-dark-1);
	--color-bg-secondary: var(--mauve-dark-2);
	--color-bg-tertiary: var(--mauve-dark-3);
	--color-bg-quaternary: var(--mauve-dark-4);
	--color-border-primary: var(--mauve-dark-5);
	--color-border-secondary: var(--mauve-dark-6);
	--color-border-tertiary: var(--mauve-dark-7);
	--color-border-vibrant-primary: hsla(0, 0%, 100%, .08);
	--color-text-primary: #f7f8f8;
	--color-text-secondary: #d0d6e0;
	--color-text-tertiary: #8a8f98;
	--color-text-quaternary: #62666d;
	--color-link-primary: #828fff;
	--color-link-hover: #fff;
	--color-brand-bg: #5e6ad2;
	--color-brand-text: #fff;
	--color-selection-text: #fff;
	--color-selection-bg: #4f52b4;
	--color-selection-dim: #4f52b499;
	--color-overlay-primary: rgba(0, 0, 0, .4);
	--shadow-low: 0px 2px 4px rgba(0, 0, 0, .1);
	--shadow-medium: 0px 4px 24px rgba(0, 0, 0, .2);
	--shadow-high: 0px 7px 32px rgba(0, 0, 0, .35);
	--scrollbar-color: hsla(0, 0%, 100%, .2);
	--scrollbar-color-active: hsla(0, 0%, 100%, .4);
	--icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=glass] {
	color-scheme: dark;
	--color-bg-primary: #000212;
	--color-bg-secondary: hsla(0, 0%, 100%, .03);
	--color-bg-tertiary: hsla(0, 0%, 100%, .07);
	--color-bg-quaternary: hsla(0, 0%, 100%, .15);
	--color-border-primary: hsla(0, 0%, 100%, .08);
	--color-border-secondary: hsla(0, 0%, 100%, .12);
	--color-border-tertiary: hsla(0, 0%, 100%, .15);
	--color-border-vibrant-primary: hsla(0, 0%, 100%, .08);
	--color-text-primary: #f7f8f8;
	--color-text-secondary: #b4bcd0;
	--color-text-tertiary: #b4bcd099;
	--color-text-quaternary: #b4bcd066;
	--color-link-primary: #828fff;
	--color-link-hover: #fff;
	--color-brand-bg: #5e6ad2;
	--color-brand-text: #fff;
	--color-selection-text: #fff;
	--color-selection-bg: #4f52b4;
	--color-selection-dim: #4f52b499;
	--color-overlay-primary: rgba(0, 0, 0, .4);
	--shadow-low: 0px 2px 4px rgba(0, 0, 0, .1);
	--shadow-medium: 0px 4px 24px rgba(0, 0, 0, .2);
	--shadow-high: 0px 7px 32px rgba(0, 0, 0, .35);
	--scrollbar-color: hsla(0, 0%, 100%, .2);
	--scrollbar-color-active: hsla(0, 0%, 100%, .4);
	--icon-grayscale-image-filter: grayscale(100%) brightness(400%)
}

[data-theme=light] {
	color-scheme: light;
	--color-bg-primary: #fff;
	--color-bg-secondary: var(--mauve-light-2);
	--color-bg-tertiary: var(--mauve-light-3);
	--color-bg-quaternary: var(--mauve-light-4);
	--color-border-primary: var(--mauve-light-5);
	--color-border-secondary: var(--mauve-light-6);
	--color-border-tertiary: var(--mauve-light-7);
	--color-border-vibrant-primary: rgba(0, 0, 0, .08);
	--color-text-primary: #282a30;
	--color-text-secondary: #3c4149;
	--color-text-tertiary: var(--mauve-light-11);
	--color-text-quaternary: var(--mauve-light-10);
	--color-link-primary: #7070ff;
	--color-link-hover: #8989f0;
	--color-brand-bg: #7070ff;
	--color-brand-text: #fff;
	--color-selection-text: var(--color-brand-text);
	--color-selection-bg: #7070ff;
	--color-selection-dim: #7070ff99;
	--color-overlay-primary: hsla(0, 0%, 100%, .65);
	--shadow-low: 0px 1px 4px -1px rgba(0, 0, 0, .09);
	--shadow-medium: 0px 3px 12px rgba(0, 0, 0, .09);
	--shadow-high: 0px 7px 24px rgba(0, 0, 0, .06);
	--font-weight-regular: 400;
	--font-weight-medium: 510;
	--font-weight-semibold: 590;
	--font-weight-bold: 680;
	--scrollbar-color: rgba(0, 0, 0, .1);
	--scrollbar-color-active: rgba(0, 0, 0, .3);
	--icon-grayscale-image-filter: grayscale(100%) brightness(0%)
}

::-moz-selection {
	color: var(--color-selection-text);
	background: var(--color-selection-bg)
}

::selection {
	color: var(--color-selection-text);
	background: var(--color-selection-bg)
}

body,
html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: var(--color-bg-primary);
	color: var(--color-text-primary);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	--font-settings: "cv01", "ss03";
	font-feature-settings: var(--font-settings);
	--font-variations: "opsz" auto;
	font-variation-settings: var(--font-variations)
}

html {
	font-size: 16px;
	scroll-padding-top: calc(var(--header-height) + 36px)
}

body {
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	overflow-x: hidden
}

html.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

html.logged-in [data-hide=logged-in],
html:not(.logged-in) [data-show=logged-in] {
	display: none
}

@media (max-width:640px) {
	.hide-mobile {
		display: none !important
	}
}

@media not (max-width:640px) {
	.show-mobile {
		display: none !important
	}
}

@media (max-width:768px) {
	.hide-tablet {
		display: none !important
	}
}

@media not (max-width:768px) {
	.show-tablet {
		display: none !important
	}
}

@media (max-width:1024px) {
	.hide-laptop {
		display: none !important
	}
}

@media not (max-width:1024px) {
	.show-laptop {
		display: none !important
	}
}

@media (max-width:1280px) {
	.hide-desktop {
		display: none !important
	}
}

@media not (max-width:1280px) {
	.show-desktop {
		display: none !important
	}
}

svg.logotype {
    height: auto;
}

svg.logotype > * {
    fill: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0
}

.inert {
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.contents {
	display: contents
}

body,
button,
html,
input,
optgroup,
select,
textarea {
	font-family: var(--font-regular)
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit
}

a:not([class]) {
	font-weight: var(--font-weight-medium);
	color: var(--color-link-primary);
	transition: color var(--speed-regularTransition)
}

@media (any-hover:hover) {
	a:not([class]):hover {
		color: var(--color-link-hover)
	}
}

img,
svg {
	flex-shrink: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.22;
	margin: 0 0 .5em;
	color: var(--color-text-primary)
}

h1 {
	font-size: 3em
}

h1,
h2 {
	font-weight: 800
}

h2 {
	font-size: 2.15em
}

h3 {
	font-size: 1.25em
}

h4 {
	font-size: 1em
}

h5 {
	font-size: .875em
}

h6 {
	font-size: .75em
}

p {
	line-height: 1.5
}

h1 i,
h2 i,
h3 i,
h4 i {
	font-weight: 400;
	font-style: normal
}

b,
strong {
	font-weight: 500
}

li {
	margin-bottom: 8px;
	margin-left: 24px
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid var(--color-border-primary)
}

b,
strong {
	font-weight: 600
}

kbd {
	display: inline-block;
	margin: 0 1px;
	padding: 3px 6px;
	border-radius: 5px;
	min-width: 24px;
	border: 1px solid var(--color-border-tertiary);
	background: var(--color-bg-primary);
	font-size: .8em;
	line-height: normal;
	font-weight: var(--font-weight-medium);
	text-align: center
}

kbd:first-letter {
	text-transform: uppercase
}

p>code {
	padding: 3px 6px;
	background: var(--color-bg-quaternary);
	border-radius: 5px;
	font-size: .9em
}

p>code,
pre {
	font-family: var(--font-monospace)
}

pre {
	position: relative;
	background: var(--color-bg-secondary);
	border-radius: 8px;
	padding: 16px;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	color: var(--color-text-secondary);
	overflow-x: auto
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none
}

.focus-visible {
	outline: none;
	box-shadow: 0 0 0 1px var(--color-brand-bg)
}

html:not(.js) button[data-rmiz-btn-open] {
	display: none
}

.kRWWW {
    box-decoration-break: clone;     
    -webkit-box-decoration-break: clone;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

